.task-actions-col {
  display: flex;
  justify-content: flex-end;
}

.submitButton {
  width: 100px;
  height: 100px;
  background-color: blue;
}

.footer {
  display: flex;
  justify-content: flex-end;
}
